<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pelican Detect Data Science Dashboard</title>

    <link rel="shortcut icon" href="https://images.squarespace-cdn.com/content/v1/602a6f5204cc80278e0e5ed1/1615300997899-VP2OEPL21UFCR4MVM21Z/favicon.ico?format=100w">
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/bootstrap-select.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static',filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
          <!--  <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-network-wired"></i>
            </div>
            <div class="sidebar-brand-text mx-3">DASHBOARD</div>-->
            <img src='static/img/Canary_logo_White-01.svg')>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->


        <!-- Divider -->
        <hr class="sidebar-divider">
        <form class="form-group" style="text-align:center;" method="POST" action="/process">
            <!-- Heading -->
            <div class="sidebar-brand-text mx-3" style="color:white;">
                Sample ID
            </div>

            <select class="selectpicker " data-live-search="true" name="SampleID" >
                {% for i in range(0, sample_id_len) %}
                <option>{{ sample_id_list[i] }}</option>
                {% endfor %}


            </select>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-brand-text mx-3" style="color:white;">
                Machine Learning Algorithms
            </div>
            <select class="selectpicker" multiple data-live-search="true" name="mlalgos">
                <option value="linearmodel">Linear Model</option>
                <option value="KNeighborsClassifier">K Nearest Neighbors (KNN)</option>
                <option value="LinearSVC">Linear Support Vector Classifier</option>
                <option value="KernelSVC">Kernel Support Vector Classifier</option>
                <option value="DecisionTreeClassifier">Decision Tree Classifier</option>
                <option value="RandomForestClassifier">Random Forest Classifier</option>
            </select>
            <br><br>
            <input type="submit" value="Submit" class="btn btn-success" style="color:white;">
        </form>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <h3>Predictions from Trained Machine Learning Models For Pelican Device</h3>


            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            {% if show_results == "false" %}
            <p style="text-align:center;margin-top:18%;margin-bottom:18%">
                    <i class="fas fa-cogs fa-5x" style="color:#515157;"></i>
                    <br/>
                    <br/>
                    Start Analysis<br/>
            Saving Lives Through Early Disease Detection
                </p>
            <div class="container-fluid" style="display:none;">

                {% else %}
                <div class="container-fluid">
                    {% endif %}

                    {% if error_code != None %}
            <p style="text-align:center;margin-top:18%;margin-bottom:18%">
                    <i class="fas fa-bug fa-5x" style="color:#b00202;"></i>
                    <br/>
                    <br/>
                    {{ error_code }}
             <br/>Please Check its Plots on Pelican <a href="https://trials.dashboard.ultrarapid.canarydetect.com/dashboard/main">DashBoard</a>
                </p>
            <div class="container-fluid" style="display:none;">

                {% else %}
                <div class="container-fluid">
                    {% endif %}


                    <!-- Content Row -->

                    <div class="row">

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <h1 class="h3 mb-2 text-gray-800">Prediction Results</h1>
                            <p class="mb-4">The following tables shows the Machine Learning Model Predictions for Sample ID {{ sample_id }}.</p>
                            {% for i in range(0,all_prediction_data| length)  %}
                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Predictions for Model {{' '.join(all_prediction_data[i].keys())}} </h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Channels</th>
                                                <th>Predictions</th>
                                                <th>Predictions Confidence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for j in all_prediction_data[i].values()  %}
                                            {% for key,values in j[0].items() %}
                                            <tr>
                                                <td>{{ key }}</td>
                                                <td>{{ values[0]}}</td>
                                                <td>{{ values[1]}}</td>
                                                 </tr>
                                                {% endfor %}

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>{% endfor %}

                        </div>


                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Canary Global Inc.</span></br></br>
                        <span>Developed By <a href="https://owaiskhan9654.github.io/">Owais Ahmad</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='css/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static',filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->



</body>

</html>
